<footer class="hidden md:flex flex-row bg-background text-white justify-center">
  <div class="text-center">
    <div class="flex flex-row">
      <a href="" class="px-4 hover:underline"> Help </a>
      <a href="" class="px-4 hover:underline">Contact</a>
      <a href="" class="px-4 hover:underline">About</a>
      <a href="" class="px-4 hover:underline">Privacy</a>
      <a href="" class="px-4 hover:underline">Terms</a>
    </div>
    <div class="justify-center">© 2024 Severin Bumbaru</div>
  </div>
</footer>