<logo class="font-headings pointer-events-none flex select-none items-center flex-wrap text-lg sm:text-xl md:text-2xl">
    <h1 class="from-primary to-accent bg-gradient-to-r bg-clip-text font-bold text-transparent">Life</h1>
    <p class="text-text">Invader</p>
</logo>